//后台框架尺寸

//菜单宽度
$navMenu: 249px;
$navMenuMin: 64px;
$layoutHeader: 75px;
//主色调
$mainColor: #f56c6c;
//副色调
$subColor: #344a5f;
//按钮色
$btnColor: #f56c6c;

@mixin webkit($type, $value){
  -webkit-#{$type}: $value;
  -moz-#{$type}: $value;
  -o-#{$type}: $value;
  -ms-#{$type}: $value;
  #{$type}: $value;
}

@mixin labelDom($align,$width,$line-height:"normal"){
  label{
    float:left;
    line-height: $line-height + px;
    text-align: $align;
    width:$width + px;
  }
  .wrap-content {
    margin-left:$width + px;
  }
}